    <span class="header">
        <div>
            <span class="user-label">Administrator</span>
        </div>
    <div class="buttons-header">
        <button class="font-header home"><a href="/home">Home</a></button>
        <button class="font-header logout"><a href="/logout">Log Out</a></button>
        <span class="font-header welcome">Welcome, {{self_username}}!</span>
    </div>
    </span>