<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>Closed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/close.css" />
</head>

<body>
    <div class="container">
        <div class="overlay" id="particles-js"></div>
        <div class="content">
            <div class="message">
                <p class="message-heading">Farinas Ilocos Empanada</p>
                <p class="message-description">Fieportal is closed</p>
                <p class="message-description">Operating Hours</p>
                <p class="message-description">Sunday - Saturday</p>
                <p class="message-description">8am-5pm</p>
            </div>
            <div class="links">
                <a href="/"></a>
            </div>
        </div>
    </div>
</body>

</html>